#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  width: 150px;
  margin: 0 5px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

h4 {
  position: relative;
}

.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
